<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>

		<typeAlias alias="egovMap"
			type="egovframework.rte.psl.dataaccess.util.EgovMap" />

		<typeAlias alias="comDefaultCodeVO" type="egovframework.com.cmm.ComDefaultCodeVO" />

		<typeAlias alias="cmmnDetailCode"
			type="egovframework.com.cmm.service.CmmnDetailCode" />

	</typeAliases>

</configuration>
